* {
    margin: 0;
    padding: 0;
}

#calculator {
    margin: 25px auto;
    width: 250px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

#display,
#panel button,
#panelLastRow button {
    font-size: 35px;
}

#display {
    text-align: right;
    padding: 5px;
    height: 40px;
}

#panel,
#panelLastRow {
    display: flex;
    flex-wrap: wrap;
}

#panel button,
#panelLastRow button:nth-child(2),
#panelLastRow button:nth-child(3) {
    flex: 1 1 25%;
}

#panelLastRow button:nth-child(1) {
    flex: 1 1 50%;
}