@font-face {
    font-family: 'Digital-7';
    src: url('digital-7.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono', Courier, monospace;
}

#calculator {
    background-color: aliceblue;
    margin: 25px auto;
    width: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

#top {
    padding: 15px;
    flex: 00 auto;
}

#top,
.numbers,
#comma {
    background-color: black;
}

#display {
    font-family: 'Digital-7', monospace;
    background-color: #aaa38a;
    text-align: right;
    padding: 5px;
    font-size: 90px;
}

#panel {
    flex: 1 1 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#panel button {
    flex: 1 0 calc(25% - 10px);
    font-size: 40px;
    height: 70px;
    font-weight: 500;
}

#clear,
#backspace {
    background-color: lightcoral;
}

.operators,
#minus,
#percentage,
#equal {
    background-color: rgb(165, 165, 165);
}

.numbers,
.operators,
#comma,
#minus,
#percentage,
#clear,
#backspace,
#equal {
    color: aliceblue;
}