@font-face {
    font-family: 'Digital-7';
    src: url('digital-7.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono', Courier, monospace;
}

#calculator {
    background-color: aliceblue;
    margin: 25px auto;
    width: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

#top {
    padding: 10px;
}

#top,
.numbers,
#comma {
    background-color: black;
}

#display {
    font-family: 'Digital-7', monospace;
    background-color: #aaa38a;
    text-align: right;
    padding: 5px;
    font-size: 60px;
}

#panel {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
}

#panel button {
    flex: 1 0 calc(25% - 10px);
    font-size: 25px;
    height: 58.5px;
    font-weight: 700;
}

#panel button.zero {
    flex: 1 0 calc(50% - 7px);
}

#clear {
    background-color: lightcoral;
}

.operators,
#minus,
#percentage,
#equal {
    background-color: rgb(165, 165, 165);
}

.numbers,
.operators,
#comma,
#minus,
#percentage,
#clear,
#equal {
    color: aliceblue;
}